* {
  color: #888;
}

a {
  text-decoration: none;
  color: inherit;
}


a:hover,
a:hover i {
  color: #fff;
}



.sub-form {


  .btn-submit {
    padding: .4rem;
    background-color: transparent;
    border: .1rem solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
}