<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contactanos</h3>
        <p><i class="fa-regular fa-envelope"></i> info@example.com</p>
        <p><i class="fa-solid fa-phone"></i> 123-456-7890</p>
      </div>
      <div class="col-md-4">
        <h3>Seguinos</h3>
        <p><a href="https://www.instagram.com/eternalmoments.ar/?utm_source=ig_web_button_share_sheet"
            target="_blank"><i class="fa-brands
                fa-instagram insta"></i> Instagram</a></p>
        <p><a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok tiktok"></i> Tiktok</a>
        </p>
        <div class="sub-form">



          <!--Zoho Campaigns Web-Optin Form Starts Here-->
          <script type="text/javascript" src="https://zcsub-cmpzourl.maillist-manage.com/js/optin.min.js"
            onload="setupSF('sf3zaf979c7c1b8693282ec7bce72f2068167387781a5981366717cb11ca5479510b','ZCFORMVIEW',false,'light',false,'0')"></script>
          <script type="text/javascript">
            function runOnFormSubmit_sf3zaf979c7c1b8693282ec7bce72f2068167387781a5981366717cb11ca5479510b(th) {
              /*Before submit, if you want to trigger your event, "include your code here"*/
            };
          </script>

          <div id="sf3zaf979c7c1b8693282ec7bce72f2068167387781a5981366717cb11ca5479510b" data-type="signupform">
            <div id="customForm">
              <div class="quick_form_29_css" name="SIGNUP_BODY">
                <div>
                  <h3 id="SIGNUP_HEADING">Suscribite para no perderte ninguna oferta</h3>
                  <div style="position:relative;">
                    <div id="Zc_SignupSuccess"
                      style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all ">
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td width="10%">
                              <img class="successicon"
                                src="https://zcsub-cmpzourl.maillist-manage.com/images/challangeiconenable.jpg"
                                align="absmiddle">
                            </td>
                            <td>
                              <span id="signupSuccessMsg"
                                style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;¡Gracias
                                por suscribirte!</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <form method="POST" id="zcampaignOptinForm"
                    action="https://zcsub-cmpzourl.maillist-manage.com/weboptin.zc" target="_zcSignup">
                    <div id="errorMsgDiv" class="" style="display: none;">Por favor complete todos los campos</div>
                    <script>
                      document.getElementById('zcWebOptin').addEventListener('click', function () {
                        var emailInput = document.getElementById('EMBED_FORM_EMAIL_LABEL');
                        var firstNameInput = document.getElementById('FIRSTNAME');
                        var errorMsgDiv = document.getElementById('errorMsgDiv');

                        if (emailInput.value === '' || firstNameInput.value === '') {
                          errorMsgDiv.style.display = 'block';
                        } else {
                          errorMsgDiv.style.display = 'none';
                        }
                      });
                    </script>
                    <div>

                      <span></span>


                      <div class="form-floating mb-3">
                        <input class="form-control form-input" type="email" placeholder="Ingresá tu mail"
                          changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
                        <label for="EMBED_FORM_EMAIL_LABEL">Mail</label>
                      </div>

                    </div>
                    <div><span></span>


                      <div class="form-floating mb-3">
                        <input class="form-control form-input" type="text" placeholder="Nombre"
                          changeitem="SIGNUP_FORM_FIELD" name="FIRSTNAME" id="FIRSTNAME">
                        <label for="FIRSTNAME">Nombre</label>
                      </div>


                    </div>
                    <div>
                      <input type="button" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Aceptar"
                        class="btn-submit">
                    </div>
                    <input type="hidden" id="fieldBorder" value="">
                    <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                    <input type="hidden" id="emailReportId" name="emailReportId" value="">
                    <input type="hidden" id="formType" name="formType" value="QuickForm">
                    <input type="hidden" name="zx" id="cmpZuid" value="132ea7c05">
                    <input type="hidden" name="zcvers" value="3.0">
                    <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                    <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                    <input type="hidden" id="zcld" name="zcld" value="111d5e97eeae32b30">
                    <input type="hidden" id="zctd" name="zctd" value="">
                    <input type="hidden" id="document_domain" value="">
                    <input type="hidden" id="zc_Url" value="zcsub-cmpzourl.maillist-manage.com">
                    <input type="hidden" id="new_optin_response_in" value="0">
                    <input type="hidden" id="duplicate_optin_response_in" value="0">
                    <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
                    <input type="hidden" id="zc_formIx" name="zc_formIx"
                      value="3zaf979c7c1b8693282ec7bce72f2068167387781a5981366717cb11ca5479510b">
                    <input type="hidden" id="viewFrom" value="URL_ACTION">
                    <span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Correo electrónico de contacto,2</span>
                    <span style="display: none" id="dt_FIRSTNAME">1,false,1,Nombre,2</span>
                    <span style="display: none" id="dt_LASTNAME">1,false,1,Apellidos,2</span>
                  </form>
                </div>
              </div>
            </div>
            <img src="https://zcsub-cmpzourl.maillist-manage.com/images/spacer.gif" id="refImage"
              onload="referenceSetter(this)">
          </div>
          <input type="hidden" id="signupFormType" value="QuickForm_Vertical">
          <div id="zcOptinOverLay" oncontextmenu="return false"
            style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;">
          </div>
          <div id="zcOptinSuccessPopup"
            style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
            <span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
              <img src="https://zcsub-cmpzourl.maillist-manage.com/images/videoclose.png">
            </span>
            <div id="zcOptinSuccessPanel"></div>
          </div>

          <!--Zoho Campaigns Web-Optin Form Ends Here-->





        </div>
      </div>
    </div>
  </div>
</footer>