<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contactanos</h3>
        <p><i class="fa-regular fa-envelope"></i> info@eternalmomentsar.com</p>
        <p><i class="fa-solid fa-phone"></i>+54 9 3413 025 171</p>
      </div>
      <div class="col-md-4">
        <h3>Seguinos</h3>
        <p><a href="https://www.instagram.com/eternalmoments.ar/?utm_source=ig_web_button_share_sheet"
            target="_blank"><i class="fa-brands
                fa-instagram insta"></i> Instagram</a></p>
        <p><a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok tiktok"></i> Tiktok</a>
        </p>
        <div>
          <h3>Suscribite para no perderte ninguna oferta</h3>


          <!--Zoho Campaigns Embed Button Starts-->
          <script type="text/javascript"
            src="https://zcsub-cmpzourl.maillist-manage.com/js/jquery-1.11.0.min.js"></script>
          <script type='text/javascript'
            src='https://zcsub-cmpzourl.maillist-manage.com/js/jquery-migrate-1.2.1.min.js'></script>
          <script type='text/javascript'
            src='https://zcsub-cmpzourl.maillist-manage.com/js/jquery-ui-1.10.4.custom.min.js'></script> <a
            href="https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56"
            id="embedLink" target="_blank"> <button type="button" purpose="nrmlBtn" class=""
              style="outline: none 0px; background-color: rgb(29, 29, 29); color: rgb(136, 136, 136); border-image: initial; padding: 6px 10px; border-radius: 5px; text-align: center; width: auto; cursor: pointer; font-size: 14px; font-family: Arial; border-width: 2px; border-style: solid;border-color:#888; "
              changetype="EMBED_BUTTON" id="EMBED_BUTTON" name="EMBED_BUTTON" value="Suscríbase a nuestro boletín"
              formopenin="New Window" btntype="nrmlBtn"
              onclick="zc_loadForm('campaigns.zoho.com','https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56')"
              bgcolor="#1d1d1d"> <span class="zceditcnt" style="">Suscribirse</span> </button> </a>
          <div purpose="uploadButtonImageCtn" style="display: none;"><a name="EMBED_BUTTON"
              style="cursor: pointer; color: rgb(136, 136, 136); background-color: rgb(29, 29, 29);"
              href="https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56"
              target="_blank" bgcolor="#1d1d1d"><img id="uploadedBtnImg" class="uploadedBtnImg"
                src="//img.zohostatic.com/campaigns/static7/images/spacer.gif"
                style="width: 300px; height: 158px; cursor: pointer"
                onclick="zc_loadForm('','https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56')"></a>
            <div id="logoCustomizeDiv" class="mt5 ml10" style="font-weight: normal;"> <a for="" class="linktxt"
                name="uploadFromLib" purpose="uploadBtnImg" id="uploadBtnImage"
                href="https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56"
                onclick="showSignupFormImagesLib(this);" onmouseover="$(this).css('text-decoration','underline')"
                onmouseout="$(this).css('text-decoration','none')" style="text-decoration: none;" target="_blank">
                Cambiar</a>
              <span class="lightgray">|</span><a
                href="https://zcsub-cmpzourl.maillist-manage.com/ua/Optin?od=11287ecca17c5b&amp;zx=132ea7c05&amp;tD=111d5e97eeae317a9&amp;sD=111d5e97eeae32b56"
                class="linktxt" id="delSignTmLogo" onclick="removeEmbedBtnImage(this);" target="_blank"> Eliminar</a>
            </div>
          </div> <input type='hidden' id='zc_Url' value='zcsub-cmpzourl.maillist-manage.com' /> <input type='hidden'
            id='zc_formIx' name='zc_formIx' value='3zaf979c7c1b8693282ec7bce72f206816d414146e3a22a394d5dd82f4325a6309'>
          <input type='hidden' id='cmpZuid' name='zx' value='undefined'> <input type='hidden' id='viewFrom'
            name='viewFrom' value='BUTTON_ACTION' /> <input type='hidden' id='button_tc_codeVal'
            name='button_tc_codeVal' value='ZCFORMVIEW' />
          <script type='text/javascript' src='https://zcsub-cmpzourl.maillist-manage.com/js/optin_min.js'></script>
          <script> var trackingText = 'ZCFORMVIEW'; var $ZC = jQuery.noConflict(); $ZC('[id=embedLink]').append("<input type='hidden' id='tc_code" + $ZC('[id=embedLink]').size() + "' value=" + trackingText + ">"); var elemSize = parseInt($ZC('[id=embedLink]').size()) - 1; var embedLink = $ZC($ZC('[id=embedLink]')[elemSize]).attr('href'); if (embedLink != undefined && embedLink != null && embedLink != 'null') { var dynamicCodeVal = $ZC("#tc_code" + $ZC('[id=embedLink]').size()).val(); embedLink = embedLink + '&trackingcode=' + dynamicCodeVal; $ZC($ZC('[id=embedLink]')[elemSize]).attr('href', embedLink); $ZC('[id=button_tc_codeVal]').val(dynamicCodeVal); trackSignupEvent(dynamicCodeVal, 'buttonView'); }; </script>
          <!-- Zoho Campaigns Embed Button End -->


        </div>
      </div>
    </div>
  </div>
</footer>