.description {
  padding: 1rem;

  .fa-spotify {
    color: #1db954;
  }

  .playlist {
    color: #000;
  }

  .subtle {
    opacity: 0.5;
  }

  .pfp {
    border-radius: 50%;
    width: 5rem;
  }
}

.btn {
  background-color: #000;
  display: block;
  margin: auto;
  color: #fff;
  padding: .5rem 2rem;
  margin-top: 1rem;
}





.about-me {
  padding: 1rem;
  background: linear-gradient(to bottom, #fff, #eee);
}