.subtle {
  opacity: 0.5;
}

.pfp {
  border-radius: 50%;
  width: 5rem;
}


.description {
  padding: 1rem;
}

.playlist {
  color: #000;
}

.fa-spotify {
  color: #1db954;
}

.about-me {
  padding: 1rem;
  background: linear-gradient(to bottom, #fff, #eee);
}