<section class="description">
  <img src="{{profile.profilePicUrl}}" alt="Foto de perfil" class="pfp">

  <p class="subtle">En memoria de</p>

  <p>{{profile.name}}</p>

  <p>Fallecido/a el {{profile.deathDate| date: 'dd/MM/yyy'}}</p>


  <a [href]="profile.playlist" class="playlist" target="_blank"> <i class="fa-brands fa-spotify"></i>Playlist</a>

  <button class="btn" (click)="editProfile()">Editar Perfil</button>
  <button class="btn" (click)="addEditors()">Agregar Editores</button>

</section>


<section class="tabs">
  <tabset [justified]="true">
    <tab heading="Sobre mi" customClass="about-me">
      <p>
        {{profile.aboutMe}}
      </p>
    </tab>
    <tab heading="Galería">

      <button *ngIf="!onEditFiles" class="btn" (click)="this.onEditFiles=true">Editar Archivos</button>
      <button *ngIf="onEditFiles" class="btn" (click)="addFiles()">Aceptar</button>


      <div *ngIf="onEditFiles" class="form-floating mb-3">
        <!--FALTA HACER QUE PUEDA OBTENER ESTE INPUT EN editfiles() PARA PODER AGREGAR LOS ARCHIVOS-->
        <input type="file" class="form-control" id="floatingInput" placeholder="Archivo" multiple #inputGaleria>
        <label for="floatingInput">Sube tus fotos y videos</label>
      </div>

      <app-galeria [galleryData]="profile.filesGallery" [showCount]="true" [onEdit]="onEditFiles"
        (deleteFile)="deleteFile($event)"></app-galeria> <!--CHEQUEAR Q FUNCIONE GALERIA-->
    </tab>
    <tab heading="Tributos">

      <article class="userTrib">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Dejá tu comentario" id="floatingTextarea2" style="height: 100px"
            [formControl]="tribute"></textarea>
          <label for="floatingTextarea2">Comentar</label>
        </div>
        <button (click)="sendTribute()" class="btn btn-comment">Enviar</button>

      </article>


      <div *ngFor="let trib of profile.tributes">
        <app-tributo [tribute]="trib"></app-tributo>
      </div>
    </tab>
  </tabset>
</section>