<section class="description">
  <img src="{{profile.profilePicUrl}}" alt="Foto de perfil" class="pfp">

  <p class="subtle">En memoria de</p>

  <p>{{profile.name}}</p>

  <p>Fallecido/a el {{profile.deathDate| date: 'dd/MM/yyy'}}</p>


  <a [href]="profile.playlist" class="playlist" target="_blank"> <i class="fa-brands fa-spotify"></i>Playlist</a>

  <button *ngIf="this.loginService.user && editorIds.includes(this.loginService.user.id)" class="btn"
    (click)="editProfile()">Editar
    Perfil</button>
  <button *ngIf="this.loginService.user && this.profile.idOwner == this.loginService.user!.id" class="btn"
    (click)="openModal(adminEditors)">Administrar Editores</button>


</section>


<section class="tabs">
  <tabset [justified]="true">
    <tab heading="Sobre mi" customClass="about-me">
      <p>
        {{profile.aboutMe}}
      </p>
    </tab>
    <tab heading="Galería">
      <button *ngIf="!onEditFiles && this.loginService.user && editorIds.includes(this.loginService.user.id)"
        class="btn" (click)="this.onEditFiles=true">Editar Archivos</button>
      <button *ngIf="onEditFiles" class="btn" (click)="addFiles()">Aceptar</button>


      <div *ngIf="onEditFiles" class="form-floating mb-3 input-galeria">
        <input type="file" class="form-control" id="floatingInput" placeholder="Archivo" multiple #inputGaleria>
        <label for="floatingInput">Sube tus fotos y videos</label>
      </div>

      <app-galeria [galleryData]="profile.filesGallery" [showCount]="true" [onEdit]="onEditFiles"
        [owner]="this.loginService.user && this.loginService.user && editorIds.includes(this.loginService.user.id)"
        (deleteFile)="deleteFile($event)"></app-galeria>
    </tab>
    <tab heading="Tributos">

      <article class="userTrib">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Dejá tu comentario" id="floatingTextarea2" style="height: 100px"
            [formControl]="tribute"></textarea>
          <label for="floatingTextarea2">Comentar</label>
        </div>
        <button (click)="sendTribute()" class="btn btn-comment" [disabled]="!tribute.valid">Enviar</button>

      </article>


      <div *ngFor="let trib of profile.tributes">
        <app-tributo [tribute]="trib"
          [owner]="this.loginService.user && this.loginService.user && editorIds.includes(this.loginService.user.id)"
          (deleteTribute)="deleteTribute($event)"></app-tributo>
      </div>
    </tab>
  </tabset>
</section>







<ng-template #adminEditors>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Administrar editores</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-floating mb-3">
      <input type="email" class="form-control form-input" id="floatingInput" placeholder="Mail"
        [formControl]="mailEditor">
      <label for="floatingInput">Mail</label>
    </div>

    <button class="btn" [disabled]="!mailEditor.valid" (click)="addEditor()">Agregar</button>

    <section class="editores">

      <div class="editor" *ngFor="let editor of profile.editors">
        <!-- aca van a ir los editores  -->

        <p>{{editor.name}} - ({{editor.mail}})</p>
        <button [disabled]="editor.id==profile.idOwner" (click)="removeEditor(editor.id)"
          class="btn btn-eliminar">Quitar</button>

      </div>

    </section>


  </div>
</ng-template>