<form [formGroup]="profileInfo" class="form">


  <div class="form-floating mb-3">
    <input type="file" class="form-control" id="floatingInput" placeholder="Foto" formControlName="porfilePicture">
    <label for="floatingInput">Foto de Perfil</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Nombre" formControlName="name">
    <label for="floatingInput">Nombre</label>
  </div>
  <div class="form-floating mb-3">
    <input type="date" class="form-control" id="floatingInput" placeholder="Fecha de fallecido" formControlName="death">
    <label for="floatingInput">Fecha de Fallecido</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Playlist" formControlName="playlist">
    <label for="floatingInput">Playlist</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Sobre mi" formControlName="aboutMe">
    <label for="floatingInput">Sobre mi</label>
  </div>

  <button class="btn">Aceptar</button>
</form>