<h2 class="text-center display-2">CARRITO</h2>
<p class="text-center">Revise los productos agregados y realize el checkout. <br> <b>ES NECESARIO TENER UNA CUENTA PARA
    REALIZAR UNA COMPRA</b></p>


<div class="cart-container">
  <div class="cart" *ngFor="let lineaPedido of this.cart">

    <div class="order-product">
      <img src="{{lineaPedido.product.imageUrls[0]}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{lineaPedido.product.name}}</h5>
        <p class="card-text">{{lineaPedido.product.description}}</p>
        <p class="card-text"><b>${{lineaPedido.product.price}}</b></p>
        <div class="quantity-container">
          <button class="btn btn-secondary" (click)="subAmmount(lineaPedido)">-1</button>
          <p class="display-6 text-center">{{lineaPedido.quantity}}</p>
          <button class="btn btn-secondary" (click)="addAmmount(lineaPedido)">+1</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <h2>TOTAL: ${{total}}</h2>
  <button class=" btn btn-checkout" (click)="openModal(template)"
    [disabled]="!loginService.user || cart.length==0"><b>COMPRAR</b></button>
</div>

<!--FALTA AGREGAR MODAL PARA PEDIR DATOS DE ENVIO-->


<ng-template class="modal-compra" #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Datos de envío</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <form (ngSubmit)="createPayment(); modalRef?.hide()" [formGroup]="deliveryData" class="form">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingProvince" placeholder="Provincia"
          formControlName="province">
        <label for="floatingProvince">Provincia</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingCity" placeholder="Ciudad" formControlName="city">
        <label for="floatingCity">Ciudad</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingZipCode" placeholder="Código postal"
          formControlName="zipCode">
        <label for="floatingZipCode">Código postal</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingAddress" placeholder="Dirección" formControlName="address">
        <label for="floatingAddress">Dirección</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingFloor" placeholder="Piso" formControlName="floor">
        <label for="floatingFloor">Piso</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingAppartament" placeholder="Departamento"
          formControlName="appartament">
        <label for="floatingAppartament">Departamento</label>
      </div>

      <button class="btn btn-modal">Enviar</button>

    </form>


  </div>
</ng-template>







<div *ngIf="loading==true" class="loading">
  <div class="spinner-border spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>