 button {
   margin: auto;
   margin-top: 1rem;
   display: block;
   background-color: #f00;
   width: 90vw;
   color: #fff;
   max-width: 700px;
 }

 .form {
   width: 90vw;
   max-width: 700px;
   margin: 0 auto;

   button {
     background-color: #000;
     max-width: 700px;
     width: 100%;
     margin: 0;
   }

   .ng-invalid.ng-touched {
     outline: .1rem solid #f00;
   }
 }