<h2 class="text-center display-2">REGISTRAR USUARIO</h2> <!--FALTA VALIDAR SI ES CREAR O EDITAR USUARIO-->
<p class="text-center">Complete sus datos en el formulario</p>

<!-- <h2 class="text-center display-2" *ngIf="service.user!=null">PERFIL</h2>
<p class="text-center" *ngIf="service.user!=null">Información de su perfil</p> -->

<form class="row g-3 needs-validation form" [formGroup]="registerForm" (ngSubmit)="register()">




  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingInput" placeholder="Mail" formControlName="mail">
    <label for="floatingInput">Mail</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingInput" placeholder="Contraseña"
      formControlName="password">
    <label for="floatingInput">Contraseña</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingInput" placeholder="Nombre" formControlName="name">
    <label for="floatingInput">Nombre</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingInput" placeholder="Teléfono"
      formControlName="phone">
    <label for="floatingInput">Teléfono</label>
  </div>



  <div class="col-12">
    <button class="btn" type="submit"><b>REGISTRARSE</b></button>
  </div>
</form>