<h2 class="text-center display-2" *ngIf="loginService.user==null">REGISTRAR USUARIO</h2>
<!--FALTA VALIDAR SI ES CREAR O EDITAR USUARIO-->
<p class="text-center" *ngIf="loginService.user==null">Complete sus datos en el formulario</p>

<h2 class="text-center display-2" *ngIf="loginService.user!=null">PERFIL</h2>
<p class="text-center" *ngIf="loginService.user!=null">Sección para ver y/o editar datos de su perfil</p>

<form class="row g-3 needs-validation form" [formGroup]="registerForm" (ngSubmit)="register()">


  <div class="form-floating mb-3">
    <input class="form-control form-input" type="email" id="floatingMail" placeholder="Mail" formControlName="mail">
    <!--TRATAR DE QUE LA PROPIEDAD DISABLED CAMBIE SI HAY USUARIO O NO-->
    <label for="floatingMail">Mail (requerido)</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control form-input" id="floatingPass" placeholder="Contraseña"
      formControlName="password">
    <label for="floatingPass">Contraseña (requerido)</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingName" placeholder="Nombre" formControlName="name">
    <label for="floatingName">Nombre (requerido)</label>
  </div>


  <div class="form-floating mb-3">
    <input type="email" class="form-control form-input" id="floatingPhone" placeholder="Teléfono"
      formControlName="phone">
    <label for="floatingPhone">Teléfono (requerido)</label>
  </div>



  <div class="col-12">
    <button class="btn" type="submit" [disabled]="!registerForm.valid"><b>ACEPTAR</b></button>
  </div>
</form>


<button *ngIf="loginService.user!=null" class="btn" (click)="logOut()"><b>CERRAR SESIÓN</b></button>