<div class="gallery-lightbox-container">
  <div class="gallery">
    <div *ngFor="let data of galleryData; let i=index" class="gallery-img">


      <img *ngIf="['png', 'jpg', 'jpeg'].includes(data.extention.toLowerCase())" (click)="onPreviewImage(i)"
        [src]="data.fileUrl" alt="Imágen de la galería" class="gallery-img">
      <video *ngIf="data.extention.toLowerCase()=='mp4'" (click)="onPreviewImage(i)" [src]="data.fileUrl" controls
        class="gallery-img"></video>
      <audio *ngIf="data.extention.toLowerCase()=='mp3'" [src]="data.fileUrl" alt="Audio de la galería"
        class="gallery-img"></audio>



    </div>
  </div>
  <div *ngIf="showMask" class="lightbox" @animation2>
    <span *ngIf="showCount" class="count">
      {{currentIndex + 1}}/{{totalImageCount}}
    </span>
    <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
      <i class="fa-solid fa-x"></i>
    </button>
    <button *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()">
      <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
    </button>
    <button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next()">
      <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>

    <button *ngIf="controls && onEdit && owner" class="btn-lightbox-carousel btn-delete"
      (click)="delete(galleryData[currentIndex])">Eliminar</button>

    <div *ngIf="previewImage" [@animation]="{value: 'visible'}" (@animation.done)="onAnimationEnd($event)"
      class="lightbox-img">
      <img *ngIf="['png', 'jpg', 'jpeg'].includes(currentLightboxImage.extention.toLowerCase())"
        [src]="currentLightboxImage.fileUrl" alt="Imágen de la galería">
      <video *ngIf="currentLightboxImage.extention.toLowerCase()=='mp4'" [src]="currentLightboxImage.fileUrl"
        alt="Imágen de la galería" controls></video>
      <audio *ngIf="currentLightboxImage.extention.toLowerCase()=='mp3'" [src]="currentLightboxImage.fileUrl"
        alt="Audio de la galería"></audio>


    </div>
  </div>
</div>