<h1 class="display-1 text-center"><b>ETERNAL MOMENTS</b></h1>
<p class=" text-center">Inicie sesión con su mail y contraseña</p>


<form class="form" [formGroup]="loginForm" (ngSubmit)="getOneUser()">

  <div class="form-floating mb-3 form-input">
    <input type="email" class="form-control" placeholder="Mail" formControlName="mail">
    <label class="label-input" for="floatingInput">Mail</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
    <label class="label-input" for="floatingInput">Contraseña</label>
  </div>



  <button type="submit" class="btn"><b>INICIAR SESIÓN</b></button>

  <a routerLink="/registrarse">No esta registrado?</a>
</form>