.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .form-input {
    width: 90vw;
    max-width: 700px;
    margin-top: 1rem;
  }

  button {
    margin-top: 1rem;
    width: 90vw;
    max-width: 700px;
    background-color: #000;
    color: #fff;
  }
}

h1 {
  padding-top: 2rem;
}