<h2 class="text-center display-2">ADMINISTRAR PEDIDOS</h2>
<p class="text-center">Panel de administrador</p>



<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let ped of pedidos; let i=index">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i"
        [ngClass]="{'delivered':ped.delivered, 'not-delivered':!ped.delivered}">
        Pedido nro {{ped.id}}
      </button>
    </h2>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Nombre:{{ped.user.name}}</p>
        <p>Dirección: {{ped.address}}</p>
        <p>Provincia: {{ped.province}}</p>
        <p>Ciudad: {{ped.city}}</p>
        <p>Código Postal: {{ped.zipCode}}</p>
        <p>Estado: {{ped.delivered? 'Entregado' : 'No Entregado'}}</p>
        <p>Pago: {{ped.payed? 'Sí' : 'No'}}</p>
        <p>Fecha: {{ped.date | date: 'dd/MM/yyy HH:mm'}}</p>
        <b>Productos:</b>
        <ul>
          <li *ngFor="let op of ped.orderProducts">
            {{op.product.name}} x{{op.quantity}}
          </li>
        </ul>
        <p>Precio Total: ${{ped.total}}</p>

        <button class="btn" (click)="changeStatus(ped)">{{ped.delivered?'Marcar como no entregado': 'Marcar como
          entregado'}}</button>
        <button class="btn btn-eliminar" (click)="delete(ped)">Eliminar</button>
      </div>
    </div>
  </div>
</div>