<h2 class="text-center display-2">ADMINISTRAR PRODUCTOS</h2>
<p class="text-center">Panel de administrador</p>


<button class="btn btn-agregar" routerLink="/agregarProducto" (click)="addProd()"><b>Agregar Productos</b></button>

<section class="products">
  <article *ngFor="let prod of products" class="prod">


    <div class="card">
      <carousel class="carousel">
        <slide *ngFor="let img of prod.imageUrls; let i=index">
          <!--VER COMO HACER QUE LA IMAGEN NO SE SALGA DEL LUGAR-->
          <img *ngIf="['png', 'jpg', 'jpeg'].includes(prod.imageExtentions[i]) " src="{{img}}" alt="prod.name"
            class="prod-img">
          <video *ngIf="prod.imageExtentions[i]=='mp4'" src="{{img}}" controls class="prod-img"></video>
        </slide>
      </carousel>
      <div class="card-body">
        <h5 class="card-title">{{prod.name}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p>${{prod.price}}</p>
        <button type="button" class="btn btn-editar" (click)="edit(prod)" routerLink="/agregarProducto">Editar</button>
        <button type="button" class="btn btn-eliminar" (click)="delete(prod)">Eliminar</button>
      </div>
    </div>
  </article>

</section>