<h2 class="display-3 text-center"> Preguntas Frecuentes</h2>
<p class=" text-center">Preguntas que le surgen a la mayoría de los usuarios</p>



<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        ¿Cuál es la dimensión?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Cada chapita de aluminio tiene una dimensión de <strong>8x8 cm</strong>.

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        ¿Soporta distintos cambios climáticos?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Si</strong>, está diseñada con alta tecnología para soportar la intemperie.

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        ¿Cómo se coloca?

      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        En la parte posterior del producto hay una película adhesiva, por lo que podrás colocarlo en cualquier
        superficie seca
        que desees.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        ¿Quién puede editar la página?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        La página puede ser editada solo por la persona que compró el producto y los colaboradores que él desee.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        ¿Dónde me redirecciona el QR?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        El QR te redireccionará a la <strong>página conmemorativa</strong> en modo lector, NO podrás editar la página al
        menos que tengas
        el acceso habilitado por el comprador del producto.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        ¿Cuál es el siguiente paso después de realizar la compra?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Una vez realizada la compra podrás comenzar a configurar la página tributo para tu ser querido. Por otro lado,
        el equipo de Eternal Moments se encargará de que la chapita conmemorativa llegue a la dirección indicada
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
        aria-expanded="false" aria-controls="collapseSeven">
        ¿Cuánto demora el envío?

      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Dependiendo de la ubicación, una vez realizado el pago, en un lapso de <strong>2/3 días hábiles</strong> (puede
        ser menos)
        llegará a tu
        domicilio.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
        aria-expanded="false" aria-controls="collapseEight">
        ¿Son los únicos fabricantes del país?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Si</strong>, nuestra fábrica está ubicada en Rosario y somos los únicos vendedores en el país.
      </div>
    </div>
  </div>
</div>