.slider {
  background-color: #000;
  color: #fff;
  height: 2rem;

  .text-container {
    display: grid;
    grid-template-columns: repeat(10, 10rem);

    p {

      display: block;
      // margin-block-start: 1em;
      // margin-block-end: 1em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
      unicode-bidi: isolate;
      text-align: center;
    }
  }
}