<section class="tutorial">
  <article class="carousel-container">
    <div id="carouselExampleDark1" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="3" aria-label="Slide 4"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../assets/PRODUCTOS1.webp" class="d-block carousel-img" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/PRODUCTOS2.webp" class="d-block carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/PRODUCTOS3.webp" class="d-block carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/PRODUCTOS4.webp" class="d-block carousel-img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </article>
</section>

<section class="admin">
  <p class="display-6 subtle">Eternal Moments</p>
  <button class="btn btn-admin" routerLink="/adminProductos"
    *ngIf="loginService.user && loginService.user.admin">Administrar Productos</button>
</section>

<section class="products">

  <article *ngFor="let prod of products; let i=index" class="prod"
    [ngClass]="{'anmacion': animacionActiva && i === indiceProductoAnimado}">



    <div class="card">
      <carousel class="carousel">
        <slide *ngFor="let img of prod.imageUrls; let i=index">
          <!-- <img src="{{img}}" alt="{{prod.name}}" class="prod-img" style="display: block; width: 100%;"> -->




          <img *ngIf="['png', 'jpg', 'jpeg'].includes(prod.imageExtentions[i].toLowerCase()) " src="{{img}}"
            alt="prod.name" class="prod-img">
          <video *ngIf="prod.imageExtentions[i].toLowerCase()=='mp4'" src="{{img}}" controls class="prod-img"></video>



        </slide>
      </carousel>
      <div class="card-body">
        <h5 class="card-title">{{prod.name}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p>${{prod.price}}</p>
        <button type="button" class="btn" (click)="addToCart(prod, i)">Agregar al carrito</button>
      </div>
    </div>

  </article>

</section>
<hr>

<section class="comments">
  <p class="display-6 subtle">Clientes Satisfechos</p>
  <div class="scroller">
    <article *ngFor="let com of comments" class="com">

      <ngb-rating [max]="5" [readonly]="true" [rate]="com.stars"></ngb-rating>
      <p>{{com.text}}</p>
      <p class="subtle">-{{com.user.name}}</p>

    </article>
  </div>

  <article class="userCom">
    <form [formGroup]="comment" (ngSubmit)="sendComment()">
      <ngb-rating [max]="5" formControlName="stars"></ngb-rating>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Dejá tu comentario" id="floatingTextarea2" style="height: 100px"
          formControlName="text"></textarea>
        <label for="floatingTextarea2">Comentar</label>
      </div>
      <button class="btn btn-comment" [disabled]="!comment.valid || !loginService.user">Enviar</button>
    </form>

  </article>

</section>