.carousel {
  height: 30vh;
}

.subtle {
  opacity: 0.5;
}

.products {
  padding: 1rem;


  .prod {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 1rem 0;

    span {
      font-size: x-large;
    }


    div {
      display: inline;
    }


  }


}

.btn {
  background-color: #222;
  color: #fff;
}

.btn-admin {
  display: block;
  margin: auto;
}


.comments {

  .scroller {
    display: flex;
    overflow-x: auto;

    .com {
      min-width: 50vw;
      background-color: #eee;
      margin-left: .2rem;
      border: #222;
      border-radius: 1rem;
      padding: .5rem;
    }
  }

  ngb-rating {
    color: #ffc107;
    font-size: x-large;
  }

  .userCom {
    padding: 1rem;

    .btn-comment {
      display: block;
      margin-top: 1rem;

    }
  }


}