.subtle {
  opacity: 0.5;
}

.admin {
  padding: 1rem;
}

.products {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  .prod {
    margin-top: .5rem;
  }

  .card {
    width: 18rem;
  }
}

.btn {
  background-color: #222;
  color: #fff;
}

.btn-admin {
  display: block;
  margin: auto;
}


.comments {
  padding: 1rem;

  .scroller {
    display: flex;
    overflow-x: auto;

    .com {
      min-width: 50vw;
      background-color: #eee;
      margin-left: .2rem;
      border: #222;
      border-radius: 1rem;
      padding: .5rem;
    }
  }

  ngb-rating {
    color: #ffc107;
    font-size: x-large;
  }

  .userCom {
    padding: 1rem;

    .btn-comment {
      display: block;
      margin-top: 1rem;

    }
  }


}


.anmacion {
  animation: addToCart 1s ease-in-out forwards;
}



// ANIMACIONES

@keyframes addToCart {
  0% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translateY(-100vh) scale(0.1);
  }
}



@media screen and (min-width:850px) {
  .carousel-container {
    display: block;
    margin: auto;
    max-width: 60vw;
  }

  .carousel-item {
    max-height: 50vh;
    max-width: 60vw;
  }

  .prod {
    width: 80vw;

    .card {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 2fr;

      .prod-img {
        object-fit: contain;
      }

    }
  }
}