<h2 class="text-center display-2">AGREGAR PRODUCTO</h2>
<p class="text-center">Complete los datos del producto en el formulario</p>

<form class="row g-3 needs-validation form" [formGroup]="newProductForm" (ngSubmit)="addProduct(fileInput)"
  enctype="multipart/form-data">



  <div class="form-floating mb-3 form-input">
    <input type="email" class="form-control" id="floatingInput" placeholder="Nombre del producto" formControlName="name"
      accept="image/*" #fileInput>
    <label class="label-input" for="floatingInput">Nombre del producto</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <label *ngIf="onEdit" for="img">Solo colocar imágen si quiere cambiar la actual</label>
    <input type="file" class="form-control" id="floatingInput" placeholder="Imágen" formControlName="file">
    <label class="label-input" for="floatingInput">Imágen</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <input type="email" class="form-control" id="floatingInput" placeholder="Descripción del producto"
      formControlName="desc">
    <label class="label-input" for="floatingInput">Descripción del producto</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <input type="email" class="form-control" id="floatingInput" placeholder="Precio del Producto"
      formControlName="price">
    <label class="label-input" for="floatingInput">Precio del Producto</label>
  </div>

  <div class="col-12">
    <button class="btn" type="submit"><b>AGRERGAR</b></button>
  </div>
</form>