<h2 class="text-center display-2">AGREGAR PRODUCTO</h2>
<p class="text-center">Complete los datos del producto en el formulario</p>

<form class="row g-3 needs-validation form" [formGroup]="newProductForm" (ngSubmit)="addProduct(fileInput)"
  enctype="multipart/form-data">



  <div class="form-floating mb-3 form-input">
    <input type="text" class="form-control" id="floatingInput" placeholder="Nombre del producto" formControlName="name">
    <label class="label-input" for="floatingInput">Nombre del producto</label>
  </div>

  <label *ngIf="onEdit">Solo colocar archivos si quiere cambiar los actuales</label>
  <div class="form-floating mb-3 form-input">
    <input type="file" class="form-control" id="floatingInput" placeholder="Archivo" formControlName="file"
      accept=".png, .jpg, .jpeg, .mp4" multiple #fileInput>
    <label class="label-input" for="floatingInput">Archivo</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <input type="text" class="form-control" id="floatingInput" placeholder="Descripción del producto"
      formControlName="desc">
    <label class="label-input" for="floatingInput">Descripción del producto</label>
  </div>

  <div class="form-floating mb-3 form-input">
    <input type="number" class="form-control" id="floatingInput" placeholder="Precio del Producto"
      formControlName="price">
    <label class="label-input" for="floatingInput">Precio del Producto</label>
  </div>

  <div class="col-12">
    <button class="btn" type="submit"><b>AGRERGAR</b></button>
  </div>
</form>