.form {

  margin: auto;
  width: 95vw;

  .ng-invalid.ng-touched {
    outline: .1rem solid #f00;
  }

  .btn {
    background-color: #000;
    color: #fff;
    width: 100%;

  }
}



@media screen and (min-width:850px) {
  .form {
    margin: auto;
    width: 60vw;
  }
}