.admin {
  background-color: #89ac76;
}

.not-admin {
  background-color: #ff5f83;
}

.btn {
  background-color: #000;
  color: #fff;
  display: block;
  margin-top: .5rem;
}

.btn-eliminar {
  background-color: #f00;
}