<section class="main-container">
  <span class="main-item">"Donde los recuerdos se vuelven inmortales"</span>
  <button class="btn  main-item btn-main" routerLink="/productos">Homenajeá en un click</button>
</section>

<section class="about-us-container">
  <article class="about-us">
    <h2 class="display-4 text-center title">Nuestro Producto</h2>
    <p>Te ofrecemos un código QR diseñado para llevarte a páginas conmemorativas personalizadas. Estas páginas te darán
      la
      oportunidad de compartir biografías, imágenes, canciones, videos y recuerdos especiales de tus seres queridos. El
      código
      QR, enmarcado en una chapa de aluminio de 8 x 8 cm, se puede colocar fácilmente en lápidas, urnas o cualquier
      lugar que
      elijas, ofreciendo un tributo singular y accesible a aquellos que han partido. Nuestra misión es proporcionar las
      herramientas necesarias para preservar los recuerdos de manera eterna.
    </p>
  </article>
  <hr>

  <h3 class="display-5 text-center title">¿Cómo funciona?</h3>

  <!-- { ADAPTAR A ESCRITORIO(COPIAR PRODUCTOS) -->

  <article class="steps carousel-container">

    <div id="carouselExampleDark2" class="carousel carousel-dark slide">
      <!--EL 2 EN carouselExampleDark1 es para diferenciarlo del otro carrusel-->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">




          <div class="card">
            <img src="../../assets/PASOS1NUEVO.webp" class="card-img-top step-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adquirí tu QR</h5>
              <p class="card-text">Realizar una compra nunca ha sido tan fácil. Con un simple clic, puedes asegurar tu
                tributo digital y
                comenzar a honrar
                los recuerdos de tus seres queridos de manera instantánea. Además, para tu comodidad, aceptamos todos
                los
                métodos de
                pago, garantizando que puedas completar tu transacción de la manera que te resulte más conveniente. ¡Haz
                <a class="carousel-link" routerLink="/productos">click</a> ahora y
                comienza a crear un legado inolvidable!
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">



          <div class="card">
            <img src="../../assets/PASOS2.webp" class="card-img-top step-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diseña la página a tu gusto</h5>
              <p class="card-text">Desde biografías conmovedoras hasta galerías de fotos. Llama a sus familiares o
                personas cercanas y creen
                un homenaje
                que capture la esencia única de sus recuerdos. ¡Recuerda que tú tienes el control de quién puede editar
                el
                contenido!
              </p>
            </div>
          </div>


        </div>
        <div class="carousel-item">



          <div class="card">
            <img src="../../assets/PASOS3.webp" class="card-img-top step-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">¡La página conmemorativa ya está activa!</h5>
              <p class="card-text">Tu homenaje está listo para ser compartido y apreciado por familiares y amigos. ¡Es
                hora de celebrar y
                honrar la vida de
                tus seres queridos de una manera única y significativa!
              </p>
            </div>
          </div>


        </div>
        <div class="carousel-item">



          <div class="card">
            <img src="../../assets/PASOS4.webp" class="card-img-top step-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">¡Preparate para recibir tu tributo digital!</h5>
              <p class="card-text">El equipo de Eternal Moments se encargará de enviar tu producto con todo cuidado.
                Cuando llegue, estará
                listo para ser
                colocado en el lugar que elijas. Desde lápidas hasta urnas, nuestro tributo estará listo para brindar un
                homenaje único
                y duradero a tus seres queridos.
              </p>
            </div>
          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </article>


  <article>

  </article>



</section>