.main-container {
  background-image: url("../../assets/bg-landing-mobile.webp");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    color: #fff;
  }

  .btn {
    margin-top: 3rem;
    background-color: #fff;
    padding: 1rem;
  }
}

.about-us {
  padding: 0 1rem;
}


.carousel {
  background: linear-gradient(to bottom, #fff, #aaa);

  .carousel-item {
    min-height: 30vh;
  }
}



@media screen and (min-width:850px) {

  .main-container {
    background-image: url("../../assets/bg-landing-desktop.webp");
  }

  .carousel-container {
    height: 100vh;

    .carousel {
      height: 100vh;
    }
  }

}